@import url('https://fonts.googleapis.com/css?family=Space+Mono');

body {
    background-color: #302e34;
}

button {
    position: absolute;
    left: 40%;
    top: 35%;
    background-color: #FF0000;
    height:70px;
	width:70px;
    border-radius: 50%;
}

#clock {
    position: absolute;
    top: 70%;
    left: 10%;
    margin: -125px 0 0 125px;
    font-family: 'Space Mono', monospace;
    font-size: 150px;
    color: #CCFFFF;
    text-shadow: 0 0 50px #2a14ff;
    border: double #CCFFFF;
    box-shadow: 0 0 50px #2a14ff;
}